#browserHead{
	top:0;
	left:0;
	right:0;
	height:25px;
	background:#373737;
	box-shadow:0px 2px 4px rgba(0,0,0,0.5);
}
	#browserBack{
		top:0;
		left:0;
		bottom:0;
		width:25px;
		color:white;
		font-size:25px;
		height:100%;
		margin-top:-3px;
		text-align:center;
	}
	#browserPath{
		top:0;
		left:25px;
		bottom:0;
		width:220px;
		padding:5px 3px;
		color:#777777;
		font-size:13px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
		#browserPathStart{
			color:white;
		}
	#browserMode{
		top:0;
		right:5px;
		bottom:0;
		width:120px;
		text-align:right;
	}
	#browserMode > div{
		position:relative;
		display:inline-block;
		height:21px;
		margin-top:2px;
		padding:2px 6px;
		font-size:13px;
	}
	#pageMode{
		border-right:1px solid #777777;
	}
	#assetMode{
		color:#777777;
	}
#parentPage{
	top:25px;
	left:0;
	right:0;
	height:25px;
	box-shadow:0px 1px 2px rgba(0,0,0,0.5);
}
	#parentPageName{
		top:0;
		left:0;
		bottom:0;
		right:25px;
		font-size:13px;
		padding:6px 10px;
	}
	#browserAdd{
		top:0px;
		right:0px;
		width:25px;
		height:25px;
		font-size:19px;
		color:#272727;
		padding:5px;
	}
#browserList{
	top:50px;
	left:0;
	right:0;
	bottom:0px;
	overflow-y:scroll;
}
	.browserListEl{
		position:relative;
		width:337px;
		margin-left:13px;
		height:25px;
		font-size:13px;
		border-bottom:1px solid #575757;
		padding:4px 4px;
		overflow:hidden;
	}
	.newPageInput{	
		margin-top:4px;
		margin-left:4px;
	}
	.browserListEnd{
		top:0;
		right:0;
		bottom:0;
		width:25px;
		font-size:19px;
		color:white;
		text-align:center;
		cursor:pointer;
	}
#browserListDrag{
	display:none;
	top:50px;
	left:0;
	right:0;
	height:25px;
	font-size:13px;
	border-bottom:1px solid #575757;
	padding:4px 16px;
	background:rgba(0, 0, 0, 0.4);
	pointer-events:none;
	cursor:ns-resize;
}
#browserInspector{
	right:0;
	bottom:-25px;
	left:0;
	height:25px;
	background:#373737;
	box-shadow:-2px 0px 4px rgba(0,0,0,0.5);
	font-size:13px;
	padding-top:5px;
	padding-left:10px;
	color:#777777;
}
#browserInspectorLen{
	color:white;
}
	#browserInspectorOptions, .browserListOptions{
		right:5px;
		top:0px;
		bottom:0px;
		letter-spacing:2px;
		float:right;
		font-size:13px;
		line-height:19px;
		padding-top:3px;
		color:#777777;
	}
	#browserInspectorOptions span:active, .browserListOptions span:active{
		color:white;
	}
	.browserListOptions{
		display:none;
	}
	.published{
		color:white;
		font-size:10px;
		top:3px;
		right:18px;
		width:auto;
		height:auto;
	}