#browserHead{
	top:0;
	left:0;
	right:0;
	height:25px;
	background:#373737;
	box-shadow:0px 2px 4px rgba(0,0,0,0.5);
}
	#browserBack, #assetBack{
		top:0;
		left:0;
		bottom:0;
		width:25px;
		color:white;
		font-size:25px;
		height:100%;
		margin-top:-3px;
		text-align:center;
	}
	#assetBack{display:none;}
	#browserLoad, #assetLoad{
		left:3px;
		margin-top:2px;
		font-size:20px;
		color:rgb(64, 64, 64);
	}
	#assetLoad{
		display:none;
	}
	#browserPath{
		top:0;
		left:25px;
		bottom:0;
		width:220px;
		padding:5px 3px;
		color:#777777;
		font-size:13px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
		#browserPathStart{
			color:white;
		}
	#assetPathLabel{
		display:none;
	}
	#browserMode{
		top:0;
		right:5px;
		bottom:0;
		width:120px;
		text-align:right;
	}
	#browserMode > div{
		position:relative;
		display:inline-block;
		height:21px;
		margin-top:2px;
		padding:2px 6px;
		font-size:13px;
	}
	#pageMode{
		cursor:pointer;
		border-right:1px solid #777777;
		color:#171717;
	}
	#assetMode{
		cursor:pointer;
		color:#777777;
	}
#parentPage, #parentFolder{
	top:25px;
	left:0;
	right:0;
	height:25px;
	box-shadow:0px 1px 2px rgba(0,0,0,0.5);
	overflow:hidden;
}
#parentFolderIcon{
	left:0px;
	width:25px;
	height:25px;
	font-size:13px;
	padding:7px;
}
	#parentPageName, #parentFolderName{
		top:0;
		left:0;
		bottom:0;
		right:25px;
		font-size:13px;
		padding:6px 10px;
	}
	#parentFolderName{
		left:15px;
	}
	#browserAdd, #folderAdd{
		top:-1px;
		right:0px;
		width:25px;
		height:25px;
		font-size:19px;
		color:#272727;
		padding:5px;
	}
	#folderAdd{
		color:#575757;
	}
#browserList, #assetList{
	top:50px;
	left:0;
	right:0;
	bottom:0px;
	overflow-y:scroll;
}
	.browserListEl, .assetListEl{
		position:relative;
		width:337px;
		margin-left:13px;
		height:25px;
		font-size:13px;
		border-bottom:1px solid #575757;
		padding:5px 4px;
		overflow:hidden;
	}
	.uploadEl{
		background:#c7c7c7;
		color:#272727;
		pointer-events:none;
	}
	.uploadProg{
		bottom:0;
		left:0;
		top:0;
		opacity:.3;
		background:#808080;
	}
	.uploadIcon{
		position:absolute;
		color:white;
		left:11px;
		top:3px;
		font-size:10px;
		z-index:1000;
	}
	.assetListEl{
		border-bottom:1px solid #909090;
	}
		.pageName, .assetName{
			top:0;
			bottom:0;
			left:0;
			display:inline-block;
		}
		.assetName{
			color:#373737;
			margin-left:18px;
			width:270px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
		}
		.assetListType{
			position:absolute;
			top:6px;
			left:5px;
			color:#474747;
		}
		.newPageInput{	
			margin-top:4px;
			margin-left:4px;
		}
		.browserListEnd{
			top:0;
			right:0;
			bottom:0;
			width:25px;
			font-size:19px;
			color:white;
			text-align:center;
			cursor:pointer;
		}
		.assetListEnd{
			color:black;
		}
#browserListDrag{
	display:none;
	top:50px;
	left:0;
	right:0;
	height:25px;
	font-size:13px;
	border-bottom:1px solid #575757;
	padding:4px 16px;
	background:rgba(0, 0, 0, 0.4);
	pointer-events:none;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	cursor:ns-resize;
}
#browserInspector, #assetInspector{
	right:0;
	bottom:-25px;
	left:0;
	height:25px;
	background:#373737;
	box-shadow:-2px 0px 4px rgba(0,0,0,0.5);
	font-size:13px;
	padding-top:5px;
	padding-left:10px;
	color:#777777;
}
#assetInspector{
	bottom:-25px;
	background:#808080;
	box-shadow:2px 0px 4px rgba(0,0,0,0.5);
	color:#373737;
}
#browserInspectorLen{
	color:white;
}
	#browserInspectorOptions, .browserListOptions, #assetOptions{
		right:5px;
		top:0px;
		bottom:0px;
		letter-spacing:2px;
		float:right;
		font-size:13px;
		line-height:19px;
		padding-top:3px;
		color:#777777;
		right:-3px;
		padding-right:3px;
	}
	#assetOptions{
		color:#373737;
	}
	#browserInspectorOptions span:active, .browserListOptions span:active{
		color:white;
	}
	#assetOptions span:active{
		color:#999999;
	}
	.browserListOptions{
		display:none;
	}
	.published{
		color:white;
		font-size:10px;
		margin-left:-18px;
		margin-top:-4px;
		width:auto;
		height:auto;
	}
	.fileDelete{
		position:relative;
		display:inline-block;
		padding-left:1.5px;
		font-size:14px;
	}
	.fileDeleteWarn, .assetDeleteWarn{
		position:relative;
		display:inline-block;
		margin-right:-45px;
		letter-spacing:normal;
		color:red;
		background:#373737;
	}
	.assetDeleteWarn{
		background:#808080;
		color:#bb0000;
	}
#browserSlider{
	width:700px;
	top:0;
	left:0;
	bottom:0;
}
	#pages, #assets{
		position:relative;
		float:left;
		height:100%;
		width:350px;
	}
	#assets{
		background:#999999;
	}
#assetAdd{
	bottom:0;
	right:0;
	width:25px;
	height:25px;
	font-size:19px;
	padding:5px;
}
#assetDragOut{
	display:none;
	pointer-events:none;
	position:fixed;
	width:16px;
	height:18px;
	border-radius:3px;
	padding:2px;
	font-size:14px;
	background:rgba(0,0,0,0.5);
	z-index:1000000000000;
}