#elementsSlider{
	width:1050px;
	height:100%;
	left:-350px;
}
.elementCol{
	position:relative;
	float:right;
	height:100%;
	width:175px;
	box-shadow:2px 0px 4px rgba(0,0,0,0.5);
	overflow-y:scroll;
}
.element{	
	position:relative;
	width:100%;
	height:25px;
	font-size:13px;
}
	.element > div{
		padding:4px 6px;
	}
	.elementOrder{
		position:relative;
		float:left;
		border-right:1px solid #777777;
		height:21px;
		margin-top:2px;
		color:#575757;
	}
	.elementName{
		position:relative;
		float:left;
		height:21px;
		margin-top:1px;
		color:#a7a7a7;
	}