#elementsSlider{
	width:700px;
	height:100%;
	left:-155px;
}
.elementPCol, .elementCCol{
	position:relative;
	float:right;
	height:100%;
	box-shadow:2px 0px 4px rgba(0,0,0,0.5);
	overflow-y:scroll;
}
.elementPCol{
	width:155px;
	background:rgb(60,60,60);
}
.elementCCol{
	width:195px;
	background:rgb(50,50,50);
}
.element{	
	position:relative;
	width:100%;
	height:25px;
	font-size:13px;
}
	.element > div{
		padding:4px 6px;
	}
	.elementOrder{
		position:relative;
		float:left;
		border-right:1px solid #777777;
		height:21px;
		margin-top:2px;
		color:#575757;
	}
	.elementName{
		position:relative;
		float:left;
		height:21px;
		margin-top:1px;
		color:#a7a7a7;
	}
	.elementEnter{
		top:0;
		right:2px;
		text-align:right;
		bottom:0;
		width:25px;
		color:#a7a7a7;
		font-size:17px;
	}