@font-face {
  font-family: 'icon';
  src: url('../fonts/icon.eot') format('embedded-opentype'), url('../fonts/icon.woff') format('woff'), url('../fonts/icon.ttf') format('truetype'), url('../fonts/icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon{font-family:icon;cursor:pointer;}
body{font-family:arial;font-size:16px;color:white;margin:0;padding:0;min-width:800px;min-height:700px;overflow:hidden;}
div{position:absolute;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*{outline:0px solid transparent;}
.unselectable{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.overflowEllipsis{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#gui{
	top:0;
	left:0;
	bottom:0;
	width:350px;
	min-height:600px;
}
	.separator{
		left:0;
		right:0;
		height:5px;
		background:#777777;
		cursor:row-resize;
	}
	#properties{
		left:0;
		right:0;
		top:0;
		height:400px;
		background:#373737;
		font-size:13px;
	}
	#propertiesSeparator{
		top:400px;
	}
	#elements{
		left:0;
		right:0;
		top:405px;
		bottom:285px;
		background:#272727;
	}
	#browserSeparator{
		bottom:280px;
	}
	#browser{
		left:0;
		right:0;
		height:280px;
		bottom:0;
		background:#474747;
		overflow:hidden;
	}
#canvas{
	top:0;
	left:350px;
	right:0;
	bottom:35px;
}
#bar{
	left:350px;
	bottom:0px;
	right:0px;
	height:35px;
	background:#777777;
	box-shadow:-2px 0px 4px rgba(0, 0, 0, 0.5);
}
#warn{
	top:-40px;
	right:0;
	text-align:right;
	width:auto;
	height:40px;
	background:rgba(180, 0, 0, 0.7);
	border-radius:0px 0px 0px 3px;
	color:#f0f0f0;
	box-shadow:-1px -1px 3px rgba(0, 0, 0, 0.3);
}
	#warnIcon{
		position:relative;
		float:left;
		height:100%;
		padding:7px 7px;
		font-size:25px;
	}	
	#warnTitle{
		position:relative;
		float:right;
		height:100%;
		font-size:13px;
		padding:12px 7px;
	}
#stop{
	display:none;
	opacity:0;
	z-index:100000000;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(180, 0, 0, 0.8);
}
	#stopMessage{
		top:50%;
		left:50%;
		margin-left:-100px;
		margin-top:-12px;
		width:200px;
		height:25px;
		text-align:center;
		color:white;
	}
	.stopRetry{
		cursor:pointer;
	}
	.stopRetry:active{
		text-deocration:none;
	}