#position{
	height:197px;
}
#boxPosition{
	top:0;
	right:10px;
	width:155px;
	height:155px;
}
	#boxPositionBox{
		top:50%;
		left:50%;
		margin-top:-40px;
		margin-left:-40px;
		width:80px;
		height:80px;
		background:#474747;
		border-radius:5px 0 0 0;
	}
		#boxPositionOrigin{top:7px;left:7px;width:5px;height:5px;background:#272727;border-radius:2.5px;}
		#boxPositionWidth{
			top:3px;
			left:17px;
			right:3px;
			height:10px;
			border-right:1px solid white;
		}
			#boxWidthLabel, #boxHeightLabel{
				top:0px;
				left:0px;
				padding-right:2px;
				font-size:10px;
				background:#474747;
				z-index:10;
			}
		#boxPositionHeight{
			left:3px;
			top:17px;
			bottom:3px;
			width:10px;
			border-bottom:1px solid white;
		}
			#boxHeightLabel{
				left:12px;
				-webkit-transform-origin:0 0;
				-webkit-transform:rotate(90deg);
			}
		#boxOrder{
			text-align:center;
			bottom:26px;
			right:5px;
			width:65px;
			height:20px;
			font-size:20px;
		}
			#orderSuffix{
				position:absolute;
				font-size:15px;
				color:#777777;
				margin-top:-3px;
			}
	.positionDisabled > [class="vlabel"]{
		display:none;
	}
	.positionDisabled > [class="vspan"] > div{
		border:1px dashed #777777;
	}
	.positionDisabled > [class="hlabel"]{
		display:none;
	}
	.positionDisabled > [class="hspan"] > div{
		border:1px dashed #777777;
	}
	#boxtop, #boxbottom{
		left:50%;
		margin-left:-40px;
		width:80px;
		height:35px;
	}
	#boxtop{
		top:0;
	}
	#boxbottom{
		bottom:0;
	}
	#boxleft, #boxright{
		top:50%;
		margin-top:-40px;
		height:80px;
		width:35px;
	}
	#boxright{
		right:0;
	}
	#boxleft{
		left:0;
	}
#overflow{
	width:60px;
	height:60px;
	left:50px;
	top:47px;
	cursor:pointer;
}
	#overflowLabel{
		top:4px;
		left:4px;
		bottom:4px;
		right:4px;
		text-align:center;
		padding-top:17px;
	}
	#overflowContent{
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:rgba(100,100,100,0.9);
		border:1px solid #777777;
		pointer-events:none;
	}
	#overflowY, #overflowX{
		top:5px;
		bottom:5px;
		left:-20px;
		right:-20px;
		border:1px dashed white;
	}
	#overflowY{
		transform:rotate(90deg);
	}
		.scrollTop{
			right:5px;
			top:11px;
			font-size:20px;
		}
		.scrollBottom{
			left:5px;
			top:11px;
			font-size:20px;
		}
#padding{
	display:none;	
	top:27px;
	left:30px;
	width:100px;
	height:100px;
	background:#373737;
	border:1px dashed #777;
}
	#paddingTop, #paddingBottom{
		left:25px;
		right:25px;
		height:27px;
		border-top:1px solid white;
		border-bottom:1px solid white;
	}
	#paddingBottom{
		bottom:-1px;
	}
	#paddingTop{
		top:-1px;
	}
	#paddingLeft, #paddingRight{
		top:25px;
		bottom:25px;
		width:27px;
		border-left:1px solid white;
		border-right:1px solid white;
	}
	#paddingLeft{
		left:-1px;
	}
	#paddingRight{
		right:-1px;
	}
	.pvlabel, .phlabel{
		background:#373737;
		color:#a0a0a0;
	}
	.phlabel{
		-webkit-transform:rotate(90deg);
	}
	#paddingContent{
		top:25px;
		bottom:25px;
		left:25px;
		right:25px;
		background:#575757;
		border:1px solid white;
	}
.vlabel,.hlabel,.pvlabel,.phlabel{
	text-align:center;
	font-size:10px;
	top:50%;
	width:100%;
	margin-top:-8px;
	z-index:1000;
	padding:2px;
} 
.vlabel,.hlabel{
	background:#373737;
	color:#a0a0a0;
}
.hlabel{
	-webkit-transform:rotate(90deg);
}
.vspan{
	top:4px;
	left:50%;
	width:50px;
	margin-left:-25px;
	bottom:4px;
	border-top:1px solid white;
	border-bottom:1px solid white;
}
	.vspanBar{
		top:0;
		bottom:0;
		left:50%;
		width:1px;
		border-left:1px solid white;
	}
.hspan{
	left:4px;
	top:50%;
	height:50px;
	margin-top:-25px;
	right:4px;
	border-left:1px solid white;
	border-right:1px solid white;
}
	.hspanBar{
		left:0;
		right:0;
		top:50%;
		height:1px;
		border-top:1px solid white;
	}	